body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.game-box {
    background: #222;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    border: none;
    background: orange;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: rgb(255, 200, 80);
}

#result {
    margin-top: 15px;
    font-size: 18px;
}
